[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

miniconfig = {git = "https://github.com/swizzard/miniconfig"}
Flask = "*"
gunicorn = "*"
Markdown = "*"
boto = "*"

