body {
  background-color: #2044ef;
}
div {
  background-color: #000;
  color: #fff;
  margin: 1% auto;
  width: 50%;
  padding: 1%;
  border: 1px solid #ff8000;
}
div#header {
  text-align: center;
}
div ul li {
  padding-left: 1em;
  padding-bottom: 0.1em;
}
div#about ul {
  list-style-type: "\1F60E";
}
div#links ul {
  list-style-type: "\1F4BB";
}
div a {
  color: #ff8000;
  text-decoration: none;
}
div a:visited {
  color: #3155ff;
}
