:root {
  --w: 255px;
  --h: 375px;
  --p: 10%;
  --hp: 5%;
  --fw: calc(var(--w) * 6);
}

div#background {
  position: fixed;
  padding: 0px;
  left: var(--p);
  top: var(--hp);
  bottom: var(--hp);
  width: var(--fw);
  z-index: 0;
  background-image: var(--sky-bg);
}
div#foreground {
  position: fixed;
  left: var(--p);
  z-index: 10000;
}

div#foreground {
  height: 100%;

  > div {
    padding: 0px;
  }

  > div.roof {
    position: fixed;
    bottom: calc(var(--h) + var(--hp));
    width: 0px;
    height: 0px;
    border-left: calc(var(--w) / 2) solid transparent;
    border-right: calc(var(--w) / 2) solid transparent;
    border-bottom: var(--w) solid #000;
  }
  > div.building {
    background-color: #000;
    position: fixed;
    bottom: var(--hp);
    width: var(--w);
    height: var(--h);
  }

  :nth-child(1),
  :nth-child(2) {
    left: var(--p);
  }
  :nth-child(3),
  :nth-child(4) {
    left: calc(var(--p) + var(--w));
  }
  :nth-child(5),
  :nth-child(6) {
    left: calc(var(--p) + var(--w) * 2);
  }
  :nth-child(7),
  :nth-child(8) {
    left: calc(var(--p) + var(--w) * 3);
  }
  :nth-child(9),
  :nth-child(10) {
    left: calc(var(--p) + var(--w) * 4);
  }
  :nth-child(11),
  :nth-child(12) {
    left: calc(var(--p) + var(--w) * 5);
  }
}

div#credits {
  position: fixed;
  bottom: 0;
  left: 40%;
  text-align: center;
}

div#credits p {
  display: inline-block;
}

#art-title {
  text-transform: uppercase;
}
