#content {
  display: grid;
  grid-template-rows: [main] 1fr [footer] 0.2fr;
}

#about {
  grid-row: main;
  border: 2px dashed var(--othertan);
  border-bottom: none;
}

#selfie {
  border-radius: 50%;
}


#footer {
  grid-row: footer;
  border: 2px dashed var(--othertan);
}
