body {
  display: grid;
}
body {
  grid-template-rows: [main] 5fr [menu] 5fr [footer] 1fr;
}

#about {
  grid-row: main;
  border: 2px dashed var(--othertan);
  border-bottom: none;
}

#selfie {
  border-radius: 50%;
}

#menu {
  grid-row: menu;
  border: 2px dashed var(--othertan);
  border-bottom: none;

  & div {
    padding: 10px;
  }
  & ul {
    text-align: left;
    list-style-position: inside;
  }
  & #projects {
    & ul {
      list-style-type: "\1F5A5";
    }
  }
  & #writing ul {
    list-style-type: "\1F4D3";
  }
}
#sunset {
  float: left;
  text-align: left;
  width: 50%;
  display: inline-block;
}
#clouds {
  float: right;
  text-align: right;
  width: 50%;
  display: inline-block;
}

#footer {
  grid-row: footer;
  border: 2px dashed var(--othertan);
}
