:root {
  --text-primary: #a8bfa0;
  --bg-primary: #7e7a48;
  --other: #5e9fad;
}

#content {
  display: grid;
  grid-template-rows: [main] 1fr [footer] 0.2fr;
}

#about {
  grid-row: main;
  border: 2px dashed var(--other);
  border-bottom: none;
}

#selfie {
  border-radius: 50%;
}


#footer {
  grid-row: footer;
  border: 2px dashed var(--other);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  text-align: center;
}

a {
  color: var(--text-primary);
  text-decoration-color: var(--text-primary);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  font-weight: bold;
}

a:hover {
  color: var(--other);
  text-decoration-color: var(--other);
}

a:visited {
  color: var(--other);
  text-decoration-color: var(--other);
}

div {
  padding: 10px;
}

div.copyright {
  text-align: center;
}

div.pubdate {
  p {
    text-align: right;
    font-size: 10px;
  }
  time {
    font-weight: bold;
  }
}

div#webring-widget.webring-widget-bar {
  position: inherit;
}
