:root {
  --bg-primary: #dadbcc;
  --text-primary: #464838;
  --paleblue: #bae1e3;
  --othertan: #abae89;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  text-align: center;
}

a {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--othertan);
}

a:visited {
  color: var(--othertan);
}

div {
  padding: 10px;
}

div.copyright {
  text-align: center;
}

div.pubdate {
  p {
    text-align: right;
    font-size: 10px;
  }
  time {
    font-weight: bold;
  }
}

div#webring-widget.webring-widget-bar {
  position: inherit;
}
