:root {
  --text-primary: #dbf9d8;
  --bg-primary: #69ac69;
  --other: #2f4858;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  text-align: center;
}

a {
  color: var(--text-primary);
  text-decoration-color: var(--text-primary);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  font-weight: bold;
}

a:hover {
  color: var(--other);
  text-decoration-color: var(--other);
}

a:visited {
  color: var(--other);
  text-decoration-color: var(--other);
}

div {
  padding: 10px;
}

div.copyright {
  text-align: center;
}

div.pubdate {
  p {
    text-align: right;
    font-size: 10px;
  }
  time {
    font-weight: bold;
  }
}

div#webring-widget.webring-widget-bar {
  position: inherit;
}
