h1,
h2 {
  text-align: center;
}

div#intro {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

div.thought {
  border: 1px dashed var(--other);
}

div.thought > div {
  border-bottom: 1px dashed var(--other);
}

div.thought > div.pubdate {
  border-bottom: none;
}

div.thought > div:last-child {
  border-bottom: none;
}

div#web > div,
div#misc > div {
  border-bottom: 1px solid var(--other);
}

div#web > div:last-child,
div#misc > div:last-child {
  border-bottom: none;
}

div.noborder {
  border-bottom: none !important;
}

div.noborder.sentence {
  padding-top: 5px;
  padding-bottom: 5px;
}

div.noborder.sentence > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

div#coda {
  text-align: center;
}

blockquote {
  border: 1px solid var(--text-primary);
  padding: 5px;
}

blockquote.bluesky-embed {
  border: none;
  padding: none;
}

.book-title {
  text-transform: uppercase;
}

p.important {
  font-weight: bold;
  text-align: center;
}
