<div class="col-lg-12">
<h3>CV</h3>
	<h4>Education</h4>
			<ul>
				<li><strong><a href="http://www.gc.cuny.edu" target="_blank">The City University of New York</a></strong> &mdash; <a href="http://www.gc.cuny.edu/Page-Elements/Academics-Research-Centers-Initiatives/Doctoral-Programs/Linguistics" target="_blank">Department of Linguistics</a> 2011-Present<br />Master's Degree, Computational Linguistics</li>
				<li><strong><a href="http://www.columbia.edu/" target="_blank">Columbia University</strong></a> &mdash; <a href="http://www.columbia.edu/cu/classics/" target="_blank">Department of Classics</a> 2009-2010<br />Master's Degree, Classics</li>
				<li><strong><a href="http://www.gwu.edu/" target="_blank">The George Washington University</strong></a> &mdash; <a href="http://departments.columbian.gwu.edu/cnelc/" target="_blank">Department of Classical and Near Eastern Languages and Civilizations</a> 2003-2007<br />Bachelor's Degree, Classical Studies</li>
			</ul>
			<h4>Research</h4>
			<ul>
				<li><strong>Computational Linguistics</strong> &mdash; For my thesis, I am currently researching Twitter hashtag coreference.</li>
			</ul>
			<h4>Skills</h4>
			<ul>
				<li><strong>Natural Languages Known</strong>
					<ul>
						<li>English</li>
						<li>Spanish</li>
						<li>German</li>
						<li>Latin</li>
						<li>Ancient Greek</li>
					</ul>
				</li>
				<li><strong>Programming Languages Known</strong>
					<ul>
						<li>Python
							<ul>
								<li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
								<li><a href="http://nltk.org/" target="_blank">Natural Language Toolkit</a></li>
								<li><a href="http://www.numpy.org/" target="_blank">NumPy</a>, <a href="http://www.scipy.org/" target="_blank">SciPy</a>, <a href="http://matplotlib.org/" target="_blank">MatPlotLib</a></li>
							</ul>
						</li>
						<li>JavaScript
							<ul>
								<li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
                                <li><a href="http://backbonejs.org/" target="blank">Backbone.js</a></li>
                                <li>AMD/<a href="http://requirejs.org/" target="_blank">Require.js</a></li>
							</ul>
						</li>
						<li>HTML/CSS
							<ul>
								<li><a href="http://twitter.github.io/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
							</ul>
						</li>
                    </ul>
                </li>
                <li><strong>Other Skills</strong>
                    <ul>
                        <li>*NIX Shell/Bash</li>
                        <li>Git</li>
						<li>MySQL</li>
                        <li>RESTful APIs</li>
                        <li>Data Wrangling</li>
					</ul>
                </li>
			</ul>
	<p class="text-center grey" id="close-about">[ close ]</p>
</div>

