{% load staticfiles %}
<div class="col-lg-12">
<h3>About Me</h3>
	<p>My name is Sam Raker. I do stuff with computers, mostly. I work for a company called <a href="http://neverware.com/" target="_blank">Neverware</a>, and I'm a Master's student in Computational Linguistics at the <a href="http://www.gc.cuny.edu/Home" target="_blank">City University of New York Graduate Center</a>,
		although I'm done with all my classes so I'm hardly ever there.</p>
	<p>My interests include social media, puns, programming, brogramming, Language/languages (especially dead &amp; artificial ones), minarchy, and wikipedia.</p>
	<p>I grew up in Maine, got my undergraduate degree in Washington, D.C., and currently reside in Bushwick, Brooklyn.</p>
</div>
<div class="col-lg-12">
<h3>About the Site</h3>
	 <p><a href="http://www.google.com/fonts/specimen/Cabin+Condensed" target="_blank">Cabin Condensed</a> font by Pablo Impallari, provided by <a href="http://www.google.com/fonts/" target="_blank">Google Fonts</a>.</p>
	 <p>Colors picked out using <a href="https://kuler.adobe.com/" target="_blank">Adobe Kuler</a>.</p>
</div>
<div class="col-lg-12">
<h3>Elsewhere Online</h3>
	<ul class="elsewhere">
    <li><i class="icon-ellipsis-vertical icon-4x"><img src="{% static "invisible.gif" %}" width="10" /></i><a href="https://www.facebook.com/sam.raker" target="_blank" title="Facebook"><i class="icon-facebook-sign icon-4x"></i></a><img src="{% static "invisible.gif" %}" width="10" /><i class="icon-ellipsis-vertical icon-4x"><img src="{% static "invisible.gif" %}" width="10" /></i></li>
		<li><a href="https://twitter.com/swizzard" target="_blank" title="Twitter"><i class="icon-twitter-sign icon-4x" ></i></a><img src="{% static "invisible.gif" %}" width="10" /><i class="icon-ellipsis-vertical icon-4x"></i><img src="{% static "invisible.gif" %}" width="10" /></li>
		<li><a href="https://github.com/swizzard" target="_blank" title="GitHub"><i class="icon-github-sign icon-4x"></i></a><img src="{% static "invisible.gif" %}" width="10" /><i class="icon-ellipsis-vertical icon-4x"></i><img src="{% static "invisible.gif" %}" width="10" /></li>
		<li><a href="http://www.linkedin.com/pub/sam-raker/73/874/b23" target="_blank" title="LinkedIn"><i class="icon-linkedin-sign icon-4x"></i></a><img src="{% static "invisible.gif" %}" width="10" /><i class="icon-ellipsis-vertical icon-4x"></i><img src="{% static "invisible.gif" %}" width="10" /></li>
	</ul>
</div>
<div class="col-lg-12" id="friends">
<h3>Friends</h3>
	<p>I've got friends. They do cool things! Some of them are on the internets!</p>
	<ul class="friends">
		<li>My friend <a href="http://rachelvandolsen.com/" target="_blank">Rachel</a> runs her own PR firm! Get her to make your restaurant/company/brilliant&nbsp;idea the shiniest and sexiest it can be!</li>
		<li>My bro <a href="http://jaysprogell.com/home.html" target="_blank">Jay</a> is an awesome photographer/director/video production guy! Get him to photograph/film/edit/produce your next thing that needs photographing/filming/editing/producing!</li>
		<li>My lady-bro <a href="http://www.munjoymetals.com/" target="_blank">Abigail</a> makes really awesome jewelry and other metal stuff! Buy some, maybe? It's really good!</li>
		<li>My buddy Nick is in a pretty sweet <a href="http://builtbyanimals.com/" target="_blank">band</a>! They're called Built By Animals. Check them out!</li>
		<li>M'colleague <a href="http://rachelrakov.ws.gc.cuny.edu/" target="_blank" title="a different Rachel">Rachel</a> does very cool things with automatic sarcasm recognition! She's teaching computers to get <i>Daria</i>, you guys!</li>
		<li>My amigos Doug & Liz started their own beef jerky business a few years ago! It's called <a href="http://www.slantshackjerky.com/" target="_blank">Slantshack Jerky</a>. They've been at Smorgasburg and GoogaMooga and stuff! Go get yourself some delicious jerky, if you're into that kind of thing!</li>
		<li>M'colleague and fellow nerd-burger <a href="http://corbinianneuhauser.ws.gc.cuny.edu/" target="_blank">Corbin</a> loves syntax more than most things. He's currently writing his second Qualifying Paper on the evolution of the copula in Classical Chinese.</li>
	</ul>
	<p class="text-center grey" id="close-about">[ close ]</p>
</div>
