{% extends 'new/base.html' %}
{% block main-content %}
<div id="main" class="row">
	<div class="col-lg-12" id="about-parent">
		<h2 id="about">About</h2>
	</div>
	<div class="col-lg-12" id="cv-parent">
		<h2 id="cv">CV</h2>
	</div>
	<div class="col-lg-12" id="vst-parent">
		<h2 id="vst">Very Silly Things&reg;</h2>
	</div>
{#    <div class="col-lg-12" id="survey-parent">#}
{#        <h2 id="survey">Survey</h2>#}
{#    </div>#}
</div>
<div id="credits" class="row">
    <div class="col-lg-12">
        <p>Created & Maintained by <span class="mail"></span></p>
        <p>&copy; 2011-2014 Sam Raker</p>
    </div>
</div>
{% endblock %}
