{% load staticfiles %}
<div class="col-lg-12">
  <p>When I'm not too busy playing Civilization V, I sometimes make Very Silly Things&reg;:</p>
  <ul>
    <li><a href="http://www.ktg.io" target="_blank" title="Get One!&#0153;">The Knuckle Tattoo Generator</a></li>
    <li><a href="https://twitter.com/_sys_bot_" title="yes, that's all it does">_sys_bot_</a></li>
    <li><em>Where in The World is Killer Mike?</em> (coming soon...probably)</li>
  </ul>
    <p class="text-center grey" id="close-vst">[ close ]</p>
</div>
