:root {
  --background: #000000;
  --color: #FFFFFF;
  --color2: #EB8643;
  --color3: #0027D6;
  --color-anchor: var(--color2);
  --text-font: "Zen Old Mincho", serif;
  --code-font: "Martian Mono", monospace;
}

header, footer {
  border: 1px solid var(--color3);
  padding: 5px;
}
main {
  border-right: 1px solid var(--color3);
}

header.homepage-header {
  border-top: 0px;
  border-bottom: 0px;
}

header#article-header {
  border: none;
};

footer#article-footer {
  border: none;
};

#site-footer {
  grid-template-columns: 100fr 1fr;
}

article div#article-content {
  font-family: var(--text-font);
  a:visited {
    color: var(--color3);
  }
  code {
    padding: 0;
    font-size: 70%;
    font-family: var(--code-font);
  }
  p {
    code {
      opacity: 0.8;
    }
  }
  details {
    padding-top: 0.75%;
    margin-bottom: -1%;
    
    &[open] {
      padding: 3% 0%;

      & > summary::after {
        content: "\274C";
        float: right;
      }
    }

    summary {
      display: block;
      color: var(--color2);
      padding-bottom: 0.5%;
      cursor: pointer;
      
      &:hover {
        text-decoration: underline;
      }
    }
    div.aside {
      display: inline-block;
      margin-right: 0px;
      border: 1px solid var(--color3);
    }
  }
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    top: -0.5em;
  }
  div.footnotes {
    margin-top: 20%;
  }
}

@media (min-width: 1024px) {
  #site-footer {
    grid-template-columns: repeat(2, 1fr);
    #site-footer-social a {
      font-size: 2em;
    }
  }
  header.homepage-header {
    min-width: 7.5%;
    text-align: center;
  };
}
