{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <nav>
      <ul>
        {{ $currentPageURL := .Permalink }}
        {{ $isHomePage := eq $currentPageURL ($.Site.BaseURL | absLangURL) }}
        {{ range .Site.Menus.main }}
        {{ $isActive := or (and (eq .URL "/") $isHomePage) (and (ne .URL "/") (in $currentPageURL .URL)) }}
        <li><a href="{{ .URL }}" {{ if $isActive }} class="active" {{ end }}>{{ .Pre }}{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </header>
  <section class="cover">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{ .Content }}
  </section>
</main>
{{ end }}
