body {
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: 400;
    }
h1 {
    font-weight: 800;
    }
h2 {
    color: #ccc;
    text-transform: uppercase;
    }
h2:hover, .grey:hover {
    color: #000;
    text-decoration: underline;
    }

div {
    border: 2px solid 88BAFF;
    margin: 5px;
    }

h3 {
    border-bottom: 1px solid #000;
    }

.elsewhere {
    list-style-type: none;
    margin: 0 0 45px -40px;
}

.elsewhere li {
    float: left;
    display: block;
    margin: 3px;
}

#friends {
    padding-top: 15px;
    }

.grey {
    color: #ccc;
    width: 100px;
    margin: auto;
    }

#survey-parent .grey {
    margin-top: 100px;
}

button#intro-ok {
    margin: 50px auto 0;
    width: 200px;
    display: block;
}