.container-fluid {
    background-image: url("https://s3.amazonaws.com/swizzarddotpizza/background.jpg");
}

.row {
    margin: 50px;
    border: 5px solid #CCFFFF;
}

.col-xs-12 {
    border: 5px solid #0066FF;
    background-color: #FFFFFF;
}
