<h2>About Me</h2>
<h3>Professional</h3>
<p>I'm a professional, kind of. I've at least been paid (and given health
insurance, even!) for Doing Computers. I can do Python, Clojure, Go, some
database stuff, the uzh. I don't <em>love</em> JavaScript, but I keep wanting to be
convinced it's not just something you have to use to pretty up your website.
I did most of a Comp Ling degree, and I really like NLP and data
processing/parsing/wrangling/extracting.</p>
<p><a href="https://s3.amazonaws.com/swizzarddotpizza/resume-spring2015.pdf">Here</a> is
my resume, such as it is, if you want it.</p>
<h3>Personal</h3>
<p>I live in Ridgewood, Queens, with my awesome wife. We don't have any
pets or anything. We watch a lot of tv. It's pretty chill.</p>