<h2>Stuff</h2>
<p>I've made some stuff. Some of it's helpful, most of it's silly, a few things
might be both? </p>
<h3>Twitter Bots</h3>
<ul>
<li><a href="http://twitter.com/__sys__bot__">@sys_bot</a> tweets names for your mid-00s
    dance-rock cover band. Inspired, sort of, by
    <a href="https://twitter.com/csvsoundsystem">csvsoundsystem</a>
    [<a href="https://github.com/swizzard/sys_bot">source</a>]</li>
<li><a href="http://twitter.com/charlie_holzer">@charlie_holzer</a> addresses
    <a href="https://en.wikipedia.org/wiki/Jenny_Holzer">Jenny Holzer</a>'s
    <a href="https://mfx.dasburo.com/art/truisms.html">truisms</a> to everyone's
    favorite fictional juvenile depressive, because...
    <a href="http://twitter.com/pareene">@pareene</a> tweeted about it once and I thought
    it was a funny idea? I don't know.
    [<a href="https://github.com/swizzard/true_charlie_brown">source</a>]</li>
</ul>
<h3>Other stuff</h3>
<ul>
<li><a href="http://www.ktg.io">ktg.io</a> is a website I wrote that solves one of
    humanity's oldest problems: what should I tattoo across my knuckles?
    [<a href="https://github.com/swizzard/ktg.io">source</a>]</li>
<li><a href="https://github.com/swizzard/botmaster">botmaster</a> is a teensy Python lib I
    wrote that at least tries to make creating twitter bots easier. Basically,
    after you figure out your OAuth stuff (there's some hopefully-helpful stuff
    about that process in the docs), you just decorate a function that returns
    a string or generator, and the rest is easy.</li>
<li><a href="https://github.com/swizzard/miniconfig">miniconfig</a> is a Python
    config-manager thing. There are many like it, but this one is mine.</li>
<li><a href="https://github.com/swizzard/lyrics">lyrics</a> is a thing I'm writing in
    Clojure to scrape lyrics from one of those free websites and put them in
    Neo4J. The ultimate goal is something like Rap Genius meets
    <a href="http://corpus.byu.edu/coca/">COCA</a>.</li>
<li>There's also
    <a href="https://github.com/swizzard/rakerdirz">a half-finished parser &amp; lexer written in Go</a>,
    and the remains of my aborted Comp Ling Masters' thesis, in
    <a href="https://github.com/swizzard/ts">Python</a> and
    <a href="https://github.com/swizzard/ts-clojure">Clojure</a> flavors.</li>
</ul>