<div class="row-fluid">
<button class="btn btn-info show-key">Key</button>
<p class="key text-info"><small>CA: Colloquium Attendance (2 pts), SA: Syntax Supper Attendance (1 pt), PsA: Psycholinguistics Supper Attendance (1 pt), CH: Colloquium Help (3 pts), SH: Syntax Supper Help (2 pts), PsH: Psycholinguistics Supper Help (2 pts), PH: Department Party Help (1 pt), C: Crying in the Lounge (-10 pts), SW: Bringing up Sapir-Whorf (-10 pts)</small></p>
<p class="key text-info"><small>Total firstyear score calculated as the sum of number of times a firstyear does something in a category times the number of points per category across all categories (e.g., attending 1 colloquium = (1x2) = 2 points, helping out with 2 psycholinguistics suppers = (2x2) = 4 points, helping out with a department party = (1x1) = 1 points, for a total of 7 points.)</small></p>
</div>
