<div class="row-fluid">
    <div class="span12 {{ team.user.username }}">
        <table class="table table-hover table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    {% if d.team_name != "Free Agents" %}
                        <th colspan=5>
                        <small>{{ d.team_name }}</small>
                        </th>
                        <th colspan=6>
                        <small>{{ d.get_total_points|default_if_none:0 }}</small>
                        </th>
                    {% else %}
                        <th colspan=11>
                        <small>{{ d.team_name }}</small>
                    {% endif %}
                </tr>
                <tr>
                    <th><small>Name</small></th>
                    <th><small>CA</small></th>
                    <th><small>SA</small></th>
                    <th><small>PsA</small></th>
                    <th><small>CH</small></th>
                    <th><small>SH</small></th>
                    <th><small>PsH</small></th>
                    <th><small>PH</small></th>
                    <th class="text-error"><small>C</small></th>
                    <th class="text-error"><small>SW</small></th>
                    <th class="text-success"><small>T</small></th>
                </tr>
            </thead>
            <tbody>
            {% for firstyear in d.firstyears %}
            <tr>
                <td><strong><small>{{ firstyear.name }}</small></strong></td>
                <td><small>{{ firstyear.colloquium_attendance }}</small></td>
                <td><small>{{ firstyear.supper_attendance }}</small></td>
                <td><small>{{ firstyear.psycho_attendance }}</small></td>
                <td><small>{{ firstyear.colloquium_help }}</small></td>
                <td><small>{{ firstyear.supper_help }}</small></td>
                <td><small>{{ firstyear.psycho_help }}</small></td>
                <td><small>{{ firstyear.party_help }}</small></td>
                <td><small>{{ firstyear.crying }}</small></td>
                <td><small>{{ firstyear.s_w }}</small></td>
                <td><strong><small>{{ firstyear.get_total_points }}</small></strong></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if key %}
            {% include 'key.html' %}
        {% endif %}
    </div>
</div>
