{% load bootstrap_toolkit %}
<div class="container-fluid visible-phone">
    <div class="row-fluid">
        {% include "player-table.html" with d=user_dict key=True %}
    </div>
    {% for team in teams %}
        <div class="row-fluid">
            {% include "player-table.html" with d=team %}
        </div>
    {% endfor %}
    {% if forms %}
    <div class="row-fluid">
        <form action="" id="tradeform" class="tradeform" method="post">
            {% for form in forms %}
            {% csrf_token %}
            {{ form|as_bootstrap {}
            {% endfor %}
            <input class="btn btn-primary" type="submit" name="propose" id="propse" value="Propose Trade"/>
        </form>
    </div>
    {% endif %}
</div>
