{% extends "ffy-base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block title %} Review Your Trades {% endblock %}
{% block content %}
<div class="container-fluid">
    {% for form in forms %}
        <form action="" id="review_form {{ form.user1 }}" method="post">
            {% csrf_token %}
            {% bootstrap_form form=add_form layout="horizontal" %}
            {% for error in errors %}
                <p class="error">Please review your trade with {{ error.0 }} ({{ error.1 }} for {{ error.2 }})</p>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </form>
    {% empty %}
        <div class="span12 center">
            <p>You have no pending trades</p>
            <a href="http://www.samraker.com/ffy/manage/" class="btn btn-primary">Go Back</a>
        </div>
    {% endfor %}
</div>
